In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_excel("AverageMarks.xlsx")
df

      USN       Name  IA1  IA2  IA3 Best of two
0   CS101       Mark   23   24   25          25
1   CS102     Martin   23   25   26          26
2   CS103        Ann   20   22   21          22
3   CS104       Rita   20   20   26          23
4   CS105     Robert   23   24   18          24
5   CS106      Ahmad   24   25   20          25
6   CS107     Suresh   25   27   22          26
7   CS108     Mahesh   28   20   24          26
8   CS109     Raghav   22   26   26          26
9   CS110   Margaret   21   24   28          26
10  CS111      Salma   24   23   20          24
11  CS112     Harish   26   20   22          24
12  CS113      Swati   23   18   24          24
13  CS114      Patil   24   20   18          22
14  CS115  Deshpande   25   22   20          24
15  CS116    Manohar   22   24   22          23
16  CS117        Bob   24   26   24          25
17  CS118      David   26   23   22          25
18  CS119  Manjunath   28   25   20          27
19  CS120     Anusha   26   26   24          26
20  CS121    Bharati   24   17   24          24
21  CS122     Xavier   22   18   26          24
22  CS123   Williams   20   22   28          25
23  CS124      Salim   18   24   25          25
24  CS125     Jyothy   20   25   26          26
25  CS126      Mohan   18   28   21          25
26  CS127     Rakesh   24   23   24          24
27  CS128       Sara   26   22   23          25
28  CS129      Smith   24   20   24          24
29  CS130      Steve   22   24   25          25
30  CS131       John   20   26   26          26
31  CS132     Zaheer   18   19   22          21
32  CS133        Ian   18   18   23          21
33  CS134    Nicolas   20   17   23          22
34  CS135     Sundar   22   18   20          21
35  CS136     Sarita   24   20   22          23
36  CS137       Amar   28   26   24          27
37  CS138    Bhaskar   26   27   26          27
38  CS139      Emily   24   28   20          26
39  CS140       Alan   22   24   18          23
40  CS141        Kim   20   26   23           ?
41  CS142        Lee   18   24   22           ?
42  CS143      Clive   21   22   24           ?
43  CS144   Goverdan   22   20   26           ?
44  CS145      Gopal   24   19   20           ?
45  CS146   Kulkarni   26   18   22           ?

In [10]:
df=df.drop(["USN","Name"],axis=1)
df

    IA1  IA2  IA3 Best of two
0    23   24   25          25
1    23   25   26          26
2    20   22   21          22
3    20   20   26          23
4    23   24   18          24
5    24   25   20          25
6    25   27   22          26
7    28   20   24          26
8    22   26   26          26
9    21   24   28          26
10   24   23   20          24
11   26   20   22          24
12   23   18   24          24
13   24   20   18          22
14   25   22   20          24
15   22   24   22          23
16   24   26   24          25
17   26   23   22          25
18   28   25   20          27
19   26   26   24          26
20   24   17   24          24
21   22   18   26          24
22   20   22   28          25
23   18   24   25          25
24   20   25   26          26
25   18   28   21          25
26   24   23   24          24
27   26   22   23          25
28   24   20   24          24
29   22   24   25          25
30   20   26   26          26
31   18   19   22          21
32   18   18   23          21
33   20   17   23          22
34   22   18   20          21
35   24   20   22          23
36   28   26   24          27
37   26   27   26          27
38   24   28   20          26
39   22   24   18          23
40   20   26   23           ?
41   18   24   22           ?
42   21   22   24           ?
43   22   20   26           ?
44   24   19   20           ?
45   26   18   22           ?

In [12]:
df1=df[0:40]
df1

    IA1  IA2  IA3  Best of two
0    23   24   25         25.0
1    23   25   26         26.0
2    20   22   21         22.0
3    20   20   26         23.0
4    23   24   18         24.0
5    24   25   20         25.0
6    25   27   22         26.0
7    28   20   24         26.0
8    22   26   26         26.0
9    21   24   28         26.0
10   24   23   20         24.0
11   26   20   22         24.0
12   23   18   24         24.0
13   24   20   18         22.0
14   25   22   20         24.0
15   22   24   22         23.0
16   24   26   24         25.0
17   26   23   22         25.0
18   28   25   20         27.0
19   26   26   24         26.0
20   24   17   24         24.0
21   22   18   26         24.0
22   20   22   28         25.0
23   18   24   25         25.0
24   20   25   26         26.0
25   18   28   21         25.0
26   24   23   24         24.0
27   26   22   23         25.0
28   24   20   24         24.0
29   22   24   25         25.0
30   20   26   26         26.0
31   18   19   22         21.0
32   18   18   23         21.0
33   20   17   23         22.0
34   22   18   20         21.0
35   24   20   22         23.0
36   28   26   24         27.0
37   26   27   26         27.0
38   24   28   20         26.0
39   22   24   18         23.0

In [11]:
df['Best of two'] = df['Best of two'].replace('?', np.nan)
df_test=df[41:]
df_test

    IA1  IA2  IA3  Best of two
41   18   24   22          NaN
42   21   22   24          NaN
43   22   20   26          NaN
44   24   19   20          NaN
45   26   18   22          NaN

In [6]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df1[['IA1','IA2','IA3']],df1['Best of two'])

LinearRegression()

In [14]:
reg.predict([[24,28,20]])

array([25.56612958])

In [ ]:
x=